@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.navbarButton {
  color: #000; /* text-black */
  border: 1px solid; /* border */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); /* dark:shadow-lg */
  background-color: #ebf8ff; /* bg-blue-100 */
  font-weight: 500; /* font-medium */
  border-radius: 0.375rem; /* rounded-lg */
  border: none;
  font-size: 0.875rem; /* text-sm */
  padding-left: 1.25rem; /* px-5 */
  padding-right: 1.25rem; /* px-5 */
  padding-top: 0.625rem; /* py-2.5 */
  padding-bottom: 0.625rem; /* py-2.5 */
  text-align: center; /* text-center */
  margin-right: 0.5rem; /* mr-2 */
  margin-bottom: 0.5rem; /* mb-2 */
}
